<%= render 'navbar' %>

<!-- TOP CONTAINER -->
<div class="top-container">

</div>
<div class="phone-container">
  <div class="container">
    <div class="row">
      <h3 class="text-center white">To make an appointment call us at 615&#8209;946&#8209;1255</h3>
    </div>
  </div>
</div>




<!-- WELCOME CONTAINER -->
<div class="welcome-container" id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-3">
        <%= image_tag "lea.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-5">
        <h2 class="staff-name-welcome latolight teal">Welcome!</h2>
        <p class="staff-description-welcome latoregular">Welcome to City Limits Hair Salon in Thompson's Station,
          Tennessee! My name is Lea Smith and I am the excited and proud owner of this sensational establishment.
          I have over 15 years experience in hair color and precision cutting.  At City Limits Salon, you will feel
          a sense of calmness as soon as you enter  the historical building and leave with luxurious hair.  We love
          what we do here and it shows on faces all around the area.  Everyone knows someone who goes to City Limits
          Salon!  We pride ourselves in being able to create a look that is designed for you and your lifestyle.
          Let us pamper and help you relax in a way that you never thought possible in a hair salon.
          We look forward to serving you.</p>
      </div>
    </div>
  </div>
</div>





<!-- STAFF CONTAINER -->
<div class="stylist-container" id="stylist">
  <div class="container">
    <div class="row staff-container">
      <h2 class="text-center latolight services-header white">Our Stylists</h2>

      <!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-2">
        <%= image_tag "lea.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="staff-name">Lea Smith</h2>
        <p class="staff-description">This is some text that will appear and give someone some details about who they are and other details.</p>
      </div>-->
    </div>
    
    

    <div class="row staff-container">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-2">
        <%= image_tag "karen.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="staff-name">Karen Beathard</h2>
        <p class="staff-description">Hi! I'm Karen Beathard. I have over 25 years experience in the beauty industry.  I attended cosmetology school outside DC, and have continued my education at Jingle, Sasoon, and Paul Mitchell. I am a certified master stylist in precision cutting and personal client formulated color. I enjoy and specialize in updo's for any occasion. I moved to TN three years ago and keep busy raising my three teenage daughters, and being wife to my husband of 21 years. I look forward to meeting you!!! </p>
      </div>
    </div>
    <div class="row staff-container">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-2">
        <%= image_tag "caroline.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="staff-name">Caroline Lakins</h2>
        <p class="staff-description">Hello, everyone! My name is Caroline Lakins. I was born and raised in the middle Tennessee area, but started my cosmetology career in Knoxville at Tennessee School of Beauty in 2004. Immediately after graduating I enrolled in Esthetics school. In 2007 I began working in the Williamson County area. I have been trained in Toni and Guy (Tigi precision cutting) and Enjoy color and product education. I have attended various training classes in Orlando, Birmingham, and Nashville. I enjoy all types of hair services, but my personal favorites are highlights, medium to length cuts, and shampoo/blowdrys.</p>
      </div>
    </div>
    <div class="row staff-container">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-2">
        <%= image_tag "kristi.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="staff-name">Kristi Bentley</h2>
        <p class="staff-description">Hello, my name is Kristi Bentley. I am originally from Franklin, Tennessee. I have over 10 years of experience in the beauty/hair industry. I would love to meet you and give you a precision hair cut or custom color specifically just for you.</p>
      </div>
    </div>
  </div>
</div>





<!-- SERVICES CONTAINER -->
<div class="services-container" id="services">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-3 col-md-6">
        <h2 class="text-center latolight services-header teal">Hair Services</h2>
        <div class="row color-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Woman's Cut</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$40+</span></p>
          </div>
        </div>
        <div class="row colorless-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Men's Cut</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$25</span></p>
          </div>
        </div>
        <div class="row color-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Kid's Cut (under 10)</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$15+</span></p>
          </div>
        </div>
        <div class="row colorless-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Kid's Cut (10-17)</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$20-$40</span></p>
          </div>
        </div>
        <div class="row color-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Single Color or Glaze~Style</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$75+</span></p>
          </div>
        </div>
        <div class="row colorless-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Single Color or Glaze~Cut~Style</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$100+</span></p>
          </div>
        </div>
        <div class="row color-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Partial Hilite~Style</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$85+</span></p>
          </div>
        </div>
        <div class="row colorless-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Partial Hilite~Cut~Style</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$100+</span></p>
          </div>
        </div>
        <div class="row color-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Partial Hilite~Color~Cut~Style</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$135+</span></p>
          </div>
        </div>
        <div class="row colorless-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Full Hilite~Cut~Style</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$125+</span></p>
          </div>
        </div>
        
        <div class="row color-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Shampoo~Style</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$25+</span></p>
          </div>
        </div>
        <div class="row colorless-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">Additional Color Added</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$10</span></p>
          </div>
        </div>
        <div class="row color-row">
          <div class="col-xs-8 col-md-8">
            <p class="services-text">UpDo's</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <p class="services-text"><span class="pull-right">$65+</span></p>
          </div>
        </div>
        <div class="row colorless-row">
          <div class="col-xs-12 col-md-12">
            <p class="services-text-top text-center"><span class="latobold">We use Redken Color, Shades EQ, and Kenra color.</span></p>
            <p class="services-text text-center"><span class="latobold teal">To make an appointment call us at 615&#8209;946&#8209;1255.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- CONTACT CONTAINER -->
<div class="contact-container" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h2 class="text-center white latolight services-header">Contact Us</h2>
        <p class="latolight white text-center bottom">Make an appointment using the form below or give us a call at 615&#8209;946&#8209;1255.</p>
        <form>
          <div class="form-group">
            <label class="sr-only">Name</label>
            <input type="text" placeholder="Name" class="form-control-custom">
          </div>
          <div class="form-group">
            <label class="sr-only">Email</label>
            <input type="text" placeholder="Email" class="form-control-custom">
          </div>
          <div class="form-group">
            <label class="sr-only">Stylist</label>
            <input type="text" placeholder="Specify a Stylist" class="form-control-custom">
          </div>
          <div class="form-group">
            <label class="sr-only">Message></label>
            <textarea type="text" placeholder="Message" class="form-control-custom noresize" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-teal">Get in Touch</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p>&copy; 2015 City Limits Salon <span class="pull-right"><%= link_to image_tag("fb.png", class: "fb-img"), "https://www.facebook.com/pages/City-Limits-Salon/514955151877066", target: "_blank" %></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="latolight text-center">Site Development and Design by <a href="http://bigmooncreative.com" target="_blank">Big Moon Creative</a></p>
      </div>
    </div>
  </div>
</div>
