<%= render 'navbar' %>

<!-- TOP CONTAINER -->
<div class="top-container">

</div>
<div class="phone-container">
  <div class="container">
    <div class="row">
      <h3 class="text-center white">To make an appointment call us at 615-946-1255</h3>
    </div>
  </div>
</div>




<!-- WELCOME CONTAINER -->
<div class="welcome-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-3">
        <%= image_tag "lea.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-5">
        <h2 class="staff-name-welcome latolight teal">Welcome!</h2>
        <p class="staff-description-welcome latoregular">Welcome to City Limits Hair Salon in Thompson's Station,
          Tennessee! My name is Lea Smith and I am the excited and proud owner of this sensational establishment.
          I have over 15 years experience in hair color and precision cutting.  At City Limits Salon, you will feel
          a sense of calmness as soon as you enter  the historical building and leave with luxurious hair.  We love
          what we do here and it shows on faces all around the area.  Everyone knows someone who goes to City Limits
          Salon!  We pride ourselves in being able to create a look that is designed for you and your lifestyle.
          Let us pamper and help you relax in a way that you never thought possible in a hair salon.
          We look forward to serving you.</p>
      </div>
    </div>
  </div>
</div>





<!-- STAFF CONTAINER -->
<div class="stylist-container">
  <div class="container">
    <div class="row staff-container">
      <h2 class="text-center latolight services-header white">Our Stylists</h2>

      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-2">
        <%= image_tag "staff_placeholder.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="staff-name">Lea Smith</h2>
        <p class="staff-description">This is some text that will appear and give someone some details about who they are and other details.</p>
      </div>
    </div>
    <div class="row staff-container">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-2">
        <%= image_tag "staff_placeholder.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="staff-name">Caroline Lakins</h2>
        <p class="staff-description">This is some text that will appear and give someone some details about who they are and other details.</p>
      </div>
    </div>
    <div class="row staff-container">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-2">
        <%= image_tag "staff_placeholder.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="staff-name">Kristi Bentley</h2>
        <p class="staff-description">This is some text that will appear and give someone some details about who they are and other details.</p>
      </div>
    </div>
    <div class="row staff-container">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-2">
        <%= image_tag "staff_placeholder.png", class: "staff-img" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="staff-name">Karen Beathard</h2>
        <p class="staff-description">This is some text that will appear and give someone some details about who they are and other details.</p>
      </div>
    </div>
  </div>
</div>





<!-- SERVICES CONTAINER -->
<div class="services-container">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h2 class="text-center latolight services-header teal">Hair Services</h2>
        <p class="services-text">Woman's Cut<span class="pull-right">$40+</span></p>
        <p class="services-text">Men's Cut<span class="pull-right">$25</span></p>
        <p class="services-text">Kid's Cut (under 10)<span class="pull-right">$15+</span></p>
        <p class="services-text">Kid's Cut (10-17)<span class="pull-right">$20-$40</span></p>
        <p class="services-text">Single Color or Glaze~Style<span class="pull-right">$75+</span></p>
        <p class="services-text">Single Color or Glaze~Cut~Style<span class="pull-right">$100+</span></p>
        <p class="services-text">Partial Hilite~Style<span class="pull-right">$85+</span></p>
        <p class="services-text">Partial Hilite~Cut~Style<span class="pull-right">$100+</span></p>
        <p class="services-text">Full Hilite~Cut~Style<span class="pull-right">$125+</span></p>
        <p class="services-text">Partial Hilite~Color~Cut~Style<span class="pull-right">135+</span></p>
        <p class="services-text">Shampoo~Style<span class="pull-right">$25+</span></p>
        <p class="services-text">Additional Color Added<span class="pull-right">$10</span></p>
        <p class="services-text">UpDo's<span class="pull-right">$65+</span></p>

        <p class="services-text-top"><span class="latobold">We use Redken Color, Shades EQ, and Kenra Color</span></p>

        <p class="services-text-top text-center"><span class="latobold teal">To make an appointment call us at 615-946-1255.</span></p>

      </div>
    </div>
  </div>
</div>





<!-- CONTACT CONTAINER -->
<div class="contact-container">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h2 class="text-center white latolight services-header">Contact Us</h2>
        <p class="latolight white text-center bottom">Make an appointment using the form below or give us a call at 615-946-1255.</p>
        <form>
          <div class="form-group">
            <label class="sr-only">Name</label>
            <input type="text" placeholder="Name" class="form-control-custom">
          </div>
          <div class="form-group">
            <label class="sr-only">Email</label>
            <input type="text" placeholder="Email" class="form-control-custom">
          </div>
          <div class="form-group">
            <label class="sr-only">Stylist</label>
            <input type="text" placeholder="Specify a Stylist" class="form-control-custom">
          </div>
          <div class="form-group">
            <label class="sr-only">Message></label>
            <textarea type="text" placeholder="Message" class="form-control-custom noresize" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-teal">Get in Touch</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p>&copy; 2015 City Limits Salon <span class="pull-right"><%= link_to image_tag("fb.png", class: "fb-img"), "https://www.facebook.com/pages/City-Limits-Salon/514955151877066", target: "_blank" %></span></p>
      </div>
    </div>
  </div>
</div>
